html
{
	margin: 0;
	padding: 0;
}
body
{
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

/* logo and link*/
.logo
{
	width: 200px;
	margin:30px;
	position: sticky;
	top: 10px;
	z-index: 10;
}
.scroll
{
	position: sticky;
	top: 150px;
	z-index: 9;
}
a:not(.log)
{
	padding: 10px;
	border: 2.5px solid white;
	position: absolute;
	top: 100px;
	right: 40px;
	transition: 0.5s;
}
a.second
{
	top: 135px;
}
a.third
{
	top: 170px;
}
a.fourth
{
	top: 205px;
}
a:not(.log):hover
{
	background: white;
}
/* End logo and link*/

/* first block*/
.header
{
	margin-top: -120px;
	background: url(../images/hero-image.jpg) no-repeat center;
	background-size:cover;
	padding: 120px 0px 150px 0px;
}
.header:after
{
	content: '';
	display: block;
	clear: both;
}
.title
{
	width: 50%;
	background:white;
	margin: 0 auto;
	padding: 50px;
	position: relative;
	letter-spacing: 6px;
}
.lineintitle
{
	width: 300px;
	border: 1.5px solid #FFE1B0;
	position: relative;
	left: -350px;	
}
.botle1
{
	width: 450px;
	position: absolute;
	right: -72px;
	bottom: -195px;
	z-index: 2;
}
h1
{
	font-size: 50px;
}
/* End first block*/


/* second block*/
.about
{
	background: url(../images/history-bg.png) no-repeat; 
	margin-top:-70px;
	background-size:100% 100%;
	padding-top: 200px;
	position: relative;
	z-index: 1;
}
.about:after
{
	content: '';
	display: block;
	clear: both;
}
.text
{
	margin: 0 auto;
	width: 75%;
	padding: 50px;
	position: relative;
	text-align: right;
}
.lineintext 
{
    width: 570px;
    border: 1.5px solid white;
    position: absolute;
    left: 490px;
    top: 190px;
}
.text-img
{
	float: left;
	margin-right: 50px;
}
.born-red
{
	margin: 15px 5px 100px 0px;
}
.text-text
{
	text-align: left;
	margin: 200px 0px 70px 0px;
}
h2
{
	font-size: 50px;
}
p
{
	line-height: 33px;
	font-size: 18px;
}
/* End second block*/

/* third block*/
.products
{
	text-align: center;
	background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(../images/sprits-bg.jpg) no-repeat; 
	margin-top:-70px;
	background-size:100% 100%;
	padding: 150px 0px 100px 0px;	
}
.products:after
{
	content: '';
	display: block;
	clear: both;
}
h3
{
	font-weight: normal;
	letter-spacing: 6px;
	color: white;
	font-size: 18px;
}
.lineinproducts
{
	width: 500px;
	border: 1.5px solid #FFE1B0;
	position: relative;
}
.inproduts
{
	width: 75%;
	margin: 0 auto;
	margin-top: 100px;
}
.botles
{
	float: left;
	margin-right: 20px;
}
h4
{
	font-weight: normal;
	color: white;
	font-size: 18px;
}
/* End third block*/


/* fourth block*/
.footer
{
	background: url(../images/contact-bg.png) no-repeat; 
	margin-top:-70px;
	background-size: 100% 100%;
	padding: 150px 0px 100px 0px;	
	text-align: center;
}

.footer>div
{
	width: 50%;
	margin: 0 auto;
}
h5
{
	font-weight: normal;
	color: white;
	font-size: 38px;
	margin-bottom: 10px;
}
input
{
	width: 500px;
	margin-top: 80px;
	background: rgba(0,0,0,0.0001);
	border: none;
	border-bottom: 1.5px solid #847978;
	padding: 0px 0px 15px 0px;
	color: #C8C1C1;
	font-size: 20px;
	transition: 2s;
}
::-webkit-input-placeholder
{
	color: #C8C1C1;
}
input:focus::-webkit-input-placeholder{
    color: transparent;
}

input:focus
{	
	width: 600px;
	outline: none;
	border-bottom: 1.5px solid #FDFAC4;
}

button
{
	width: 400px;
	background: rgba(0,0,0,0.0001);
	color: #C8C1C1;
	margin-top: 70px;
	padding: 20px;
	font-size: 20px;
	letter-spacing: 10px;
	border: 1.5px solid #847978;
	box-sizing: border-box;
	transition: 1s;
}
button:focus
{
	outline: none;
}

button:hover
{
	border: 1.5px solid #FDFAC4;
}
.bla-bla
{
	color: #C8C1C1;
	line-height: 30px;
	margin-top: 50px;
}
/* End fourth block*/