html, body
{
	background: #1D1D1D;
	font-family: 'Raleway', sans-serif;	
}
*
{
	box-sizing: border-box;
}

/*header*/
.picture 
{
	padding: 0!important;
}
.picture img
{
	width: 100%;
}

.title
{
	padding: 10px;
	background: #E84C3D;
	text-align: center;
	color: white;
}
h1
{
	font-weight: normal;
	font-size: 38px;
	white-space: nowrap;
	margin:0;
	text-align: center;
}
.nav
{
	padding: 0!important;
	margin-top: 25px;
}
.nav a
{
	background: #23AFD2;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none;
	font-size: 12px;
	transition: .4s;
}
.nav a:nth-child(2)
{
	background: #199FC5;
}
.nav a:hover
{
	background: #199FC5;
}
.mob
{
	display: none;
   	position: absolute;
   	top: 56px;
   	right: 5px;
   	padding: 5px;
   	z-index: 10;
	display: none;
	width: 150%;
	list-style:none;
	background-color: rgba(38, 38, 38, 0.5);
}
.mob li
{			 
	margin: 5px 0px;
}	
.mob li a
{
	color: white;
	position: relative;
	top: 3px;
	text-decoration: none;
}		
.mob li a:hover
{
	color: #00C7FF;
}	
.menu__icon 
{
	margin-top: 16px;
	display: none;
   	width: 45px;
   	height: 35px;
    position: relative;
   	cursor: pointer;
}		
.menu__icon span 
{
   	display: block;
   	position: absolute;
   	height: 9px;
   	width: 100%;
   	background: #23AFD2;
   	border-radius: 9px;
   	opacity: 1;
    left: 0;
    transform: rotate(0deg);
   	transition: .25s ease-in-out;
} 
.menu__icon span:nth-child(1) 
{
  	top: 0px;
}		
.menu__icon span:nth-child(2), .menu__icon span:nth-child(3)
{
   	top: 13px;
}
.menu__icon span:nth-child(4) 
{
   	top: 26px;
}
.menu_state_open .menu__icon span:nth-child(1) 
{
   	top: 18px;
   	width: 0%;
   	left: 50%;
}
.menu_state_open .menu__icon span:nth-child(2) 
{
   	transform: rotate(45deg);
   	background: #E84C3D;
}
.menu_state_open .menu__icon span:nth-child(3) 
{
   	transform: rotate(-45deg);
   	background: #E84C3D;
}
.menu_state_open .menu__icon span:nth-child(4) 
{
   	top: 18px;
  	width: 0%;
   	left: 50%;
}
.menu_state_open .mob 
{
    display: block;  
}
/*header*/

		/*main*/
		main
		{
			margin-top: -75px;
		}
		.title-2
		{
			background: rgba(232,76,61,.97);
			height: 75px;
			padding: 13px 0px 0px 20px;
		}
		.title-2 h2
		{
			font-size: 21px;
			color: white;
			margin: 0;
		}
		.first-block
		{
			padding: 40px 20px 0px 20px;
			height: 600px;
			background: white;
		}
		.text-2
		{
			margin-top: 30px;
		}
		.first-block h3
		{
			font-size: 20px;
			font-weight: bold;
		}
		.first-block h4
		{
			color: #E84C3D;
			font-size: 20px;
			margin-bottom: 40px;
			font-weight: bold;
		}
		.first-block p a
		{
			color: #23AFD2;
			text-decoration: none;
			transition: .3s;
		}
		.first-block p a:hover
		{
			font-weight: bold;
		}		
		.last-block
		{
			padding: 0;
			margin-bottom: -7px;
		}
		.last-block iframe
		{
			width: 100%;
			height: 200px;
			margin: 0;
		}
		.check-list
		{
			margin:40px 0px;
			list-style: none;
			position: relative;
			left: -25px;
		}
		.check-list i
		{
			color: #E84C3D;
			margin-bottom: 10px;
		}
		.read-more
		{
			color: white;
			text-decoration: none;
			border:1px solid #E84C3D;
			background: #E84C3D;
			padding: 8px 15px;
			transition: .4s;
			position: relative;
			left: -64px;
		}
		.read-more:hover
		{
			text-decoration: none;
			color: #E84C3D;
			background: white;
		}
		.long h3
		{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.long h3 a
		{
			color: #23AFD2;
			text-decoration: none;
			transition: .3s;
		}
		.long h3 a:hover
		{
			font-weight: bold;
		}
		.long i
		{
			font-size: 30px;
		}
		.grey h3
		{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}
		.grey h3 a
		{
			color: #23AFD2;
			text-decoration: none;
			transition: .3s;
		}
		.grey h3 a:hover
		{
			font-weight: bold;
		}
		.grey i
		{
			font-size: 30px;
		}
		/*picture*/
		.laptop
		{
			background: url(../../images/about-4.jpg);
			background-size: 100% 100%;
			height:200px;
		}
		.city
		{
			background: url(../../images/about-2.jpg);
			background-size: 100% 100%;
			height:200px;
		}
		.bike
		{
			background: url(../../images/about-1.jpg);
			background-size: 100% 100%;
			height:400px;
		}
		/*picture*/	
		.long
		{
			background: #F3F1F2;
			height: 200px;
			padding: 30px 15px 30px 15px;
		}
		.third-row
		{
			margin-top: -200px;
			margin-left: -16px;
		}
		.grey
		{
			height: 200px;
			background: #F3F1F2;
			padding: 30px 15px 30px 15px;
		}
		/*main*/
/*footer*/
footer
{
	margin: 0;
}
.design
{
	padding-top: 20px;
	background: #23AFD2;
	height: 75px;
}
.design h4
{
	color: white;
	font-size: 20px;
}
.design p
{
	margin: 0;
	margin-top: -5px;
	color: black;
	font-size: 13px;
}
.black
{
	padding-top: 20px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 13px;
}
.black a
{
	color: #23AFD2;
	transition: .3s;
}
.black a:hover
{
	font-weight: bold;
	text-decoration: none;
}
/*footer*/
/*script*/
  #go-top {
  position: absolute;
  top:25px;
  right: 0px;
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
  color: #1D1D1D;
  cursor:pointer; 
  width: 30px;
  height: 30px;
  background: #E84C3D;
  border:1px solid #E84C3D;
  transition: .5s;
}

#go-top:hover {
  background: #1D1D1D;
  color: #E84C3D;
}
/*script*/

@media screen and (max-width: 450px) {
	.menu__icon{ display: block;}  
    .comp {display: none;}
    .nav{margin-top: -5px;}
    h1{font-size: 20px;}
    main{margin-top: -40px;}
	.title-2{height: 40px;padding: 3px 0px 0px 0px; font-size: 7px;}
	.title-2 h2 {font-size: 10px;}
	.first-block{height: 300px; font-size: 8px; padding: 15px 15px 0px 15px;}
	.first-block h4 {font-size: 10px; margin-bottom: 10px;}
	.first-block h3 {font-size: 10px;}
	.check-list{margin: 10px 0px;}
	.text-2{margin: 10px 0px;}
	.read-more{left: 25px; padding: 6px 12px;}
	.bike{height: 300px;}
	.third-row{margin-top: 0px;}
	.city{height: 150px;}
	.long{height: 150px; padding: 15px 10px 0px 10px; font-size: 8px;}
	.long h3{font-size: 10px; margin-bottom: 20px;}
	.long i{font-size: 20px;}
	.last-block iframe{height: 150px;}
	.laptop{height: 150px;}
	.grey h3{font-size: 10px;}
	.grey{font-size: 8px; height: 150px;}
	.grey i {font-size: 20px;}

	.black{font-size: 7px; padding: 20px 20px 0px 10px;}
	#go-top{line-height: 20px; width: 20px; height: 20px;}
	.design{padding-top: 5px; height: 67px;}
	.design h4{font-size: 10px;}
	.design p{font-size: 7px;}
	}